<div class="alert alert-info text-center" role="alert">
        Please have a look around and let us know if you have any questions.  Our guide covers the basics of the services we provide and how to schedule an appointment.
</div>